<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>

    <p>{{>header}}</p>
    <h1>
       about harshal
    </h1>
     {{>footer}}

</body>

</html>