<!DOCTYPE html>

<html>

<head>
    <script src="/js/app.js"></script>
    <title>Weather Forecast</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
</head>

<body>
    <div>
        {{>header}}
        <p class="data">A simple application to check the weather conditions of a particular location.</p>
        <p class="data">This Application is developed using NodeJS, ExpressJS, HandleBars etc.</p>
    </div>

    <h3>{{>footer}}</h3>

</body>

</html>