<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>

    <div>
        {{>header}}
        <p>This site was created by {{name}}. It uses data from mapbox.com and darksky.net!</p>
        <p>Contact: 8970903416 / harshalbelamkar5@gmail.com</p>
    </div>       

     <h3>{{>footer}}</h3>

</body>

</html>