<footer>

    <p style="color: whitesmoke;">Creater by {{name}}</p>
    <span class="white">
        <a href="https://github.com/Harshal3416" target="_blank">
            <img src="/img/github.png" alt="Git Hub" height="50px" style="border-radius:50%"> </a>
    </span>
    <span class="white">
        <a href="https://www.linkedin.com/in/harshal-belamkar/" target="_blank">
            <img src="/img/linkedin.png" alt="LinkedIn" height="50px" style="border-radius: 6px;"> </a>
    </span>
</footer>