<footer>

    <p style="color: whitesmoke;">Creater by {{name}}</p>
    <div class="profile">
        <span class="white">
            <a href="https://github.com/Harshal3416" target="_blank">
                <img class="github" src="/img/github.png" alt="Git Hub"> </a>
        </span>
        <span class="white">
            <a href="https://www.linkedin.com/in/harshal-belamkar/" target="_blank">
                <span class="linkedin">in</span>
            </a>
        </span>
    </div>

</footer>