<footer>

    <p style="color: whitesmoke;">Creater by {{name}}</p>
    <p class="white">
        <a href="https://github.com/Harshal3416" target="_blank">
            <img src="../../public/img/github.png" alt="Git Hub">
            GitHub
        </a>
    </p>
    <p class="white">
        <a href="https://www.linkedin.com/in/harshal-belamkar/" target="_blank">
            <img src="../../public/img/linkedin.png" alt="LinkedIn">
            LinkedIn
        </a>
    </p>
</footer>